.containerSet {
    background-color: #8af893;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
}
.card-ordenar {
    background-color: #ee1d1d;
    min-height: 100px;
    border: black solid 1px;
    color: white;
    font-size: xx-large;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
}