/* styles.css */

/* Reset b치sico */
body,
h1,
h2,
h3,
p,
ul,
ol,
li,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f55f19;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el scroll horizontal */
    width: 100vw; /* Garantiza que no haya desbordamiento horizontal */
}

/* Contenedor principal */
.container {
    width: 100%; /* Asegura que ocupa todo el ancho del dispositivo */
    max-width: 480px; /* Tama침o m치ximo para evitar dise침os desbordados */
    padding: 16px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; /* Centra el texto y contenido */
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .container {
        padding: 8px;
    }

    h1,
    h2,
    h3 {
        font-size: 1.5rem;
    }

    button {
        font-size: 14px;
    }
}
